body
  background-color: #EBEFF2
  line-height: 1.4em


// Global Section Styles
section
  padding: 100px 0

  h2.section-heading
    font-size: 38px
    margin-top: 0
    margin-bottom: 15px
    font-weight: bold

  h3.section-subheading
    font-size: 16px
    text-transform: none
    font-style: italic
    font-weight: 400
    margin-bottom: 75px

.event_item
  background-color: #b4b0b0 !important
  text-transform: uppercase

@media(max-width: 768px)
  h2.section-heading
    text-align: center

@media(min-width: 768px)
  section
    padding: 150px 0
