@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss"

// IMPORTS
@import "variables"
@import "general"
@import "navbar"
@import "speakers"

header
	color: $white
	padding: 250px 0
	text-align: center
	background-size: cover
	background-color: black
	background-repeat: none
	background-image: $url_0
	background-position: center center

	p
		font-size: 28px
		margin: 40px auto 50px

	.btn-outline
		padding: 10px 15px
		color: $white
		border: 1px solid $white
		border-radius: 5px
		font-size: 22px
		transition: all 0.3s ease 0s
		&:hover
			color: $brand-primary
			border-color: $brand-primary

	@media only screen and(max-width:768px)
		padding: 150px 0
		p
			font-size: 28px
			margin: 20px auto

		.btn-outline
			font-size: 18px


.content
	img
		display: block
		max-width: 40%
		max-height: 40%
		margin: 0 auto 20px
	p
		color: $white
		font-weight: 200
		text-align: center

#about
	padding-bottom: 0
	p
		font-size: 24px
		line-height: 1.5

// PALESTRANTES
#speakers
	img
		width: 400px

// PROGRAMAÇÃO
#schedule
	.time
		font-size: 18px
		margin-right: 20px

	.well
		border: none
		margin: 10px auto
		color: $white
		background-color: $brand-danger
		font-size: 22px
		border-radius: 10px
		font-weight: bold

	@media only screen and(max-width:768px)
		.time
			display: block
			margin: 15px auto


//  PATROCINADORES
#sponsors
	.row
		margin: 25px 0
	img
		margin: 10px
	span
		font-size: 28px
		color: #666666
		line-height: 2.0

// Localização
#localization
	padding: 50px 20px
	color: $white
	background-color: black
	background-image: $aside_bg
	background-size: cover
	background-repeat: none
	background-position: center center

	.marker
		float: right
		a
			font-size: 22px
			font-weight: bold
			color: $white
			text-decoration: none
			text-transform: uppercase
			text-align: justify
			line-height: 1.5


		i
			font-size: 44px
			margin-right: 10px

	@media only screen and(max-width:768px)
		.marker
			float: none
			margin: 20px auto 10px
			display: block
			text-align: center



#team
	.organizer
		text-align: center
	  width: 200px
	  margin: 20px
	  float: left
	.hex
	  -webkit-mask-image: url($hex-url)
	  -moz-mask-image: url($hex-url)
	  background-size: contain
	  width:  200px
	  height: 200px
	  margin: 0 auto
	  display: block

@media only screen and(max-width:768px)
	.organizer
		margin: 40px auto

// Contato
#contact
	background-color: $bg-gray
	color: $white
	padding: 100px 20px
	.social-icons
		i
			background-color: $white
			color: $bg-gray
			font-size: 22px
			border-radius: 50%
			margin-right: 10px
			padding: 10px 15px

		.fa-twitter
			padding: 10px 12px

	a
		font-size: 26px
		text-decoration: none
		color: $white

	p
		font-size: 24px
		line-height: 2.0

	.section-heading
		font-weight: bold
		font-size: 55px
	@media only screen and(max-width:768px)
		h1
			font-size: 24px
		a
			font-size: 14px
		p
			font-size: 18px
			line-height: 1.5

.code-of-conduct
	padding: 60px
	text-align: center
	background-color: #456E7B
	font-size: 22px
	line-height: 1.5
	a
		color: $white
		text-decoration: none


/////////////////
@media only screen and(max-width:768px)

	.content
		img
			max-width: 60%
			max-height: 60%
		p
			color: $white
			font-size: 1em
			text-align: center
