@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss"
@import "variables"
@import "general"
@import "speakers"

// Extends
%position
	position: absolute
	top: 0
	left: 0


.main
	width: auto
	height: auto
	min-width: 100%
	min-height: 100%
	background-size: cover
	padding: 100px 0 195px
	background-image: $url_0
	background-position: center center

	.overlay
		z-index: 1
		width: 100%
		height: 74%
		opacity: .5
		@extend %position
		background: $black
		filter: alpha(opacity=50)

	.container
		z-index: 2
		position: relative

.content
	img
		display: block
		max-width: 40%
		max-height: 40%
		margin: 10vh auto 20px

	p
		color: $white
		font-size: 1.6em
		font-weight: 200
		text-align: center
	a
		max-width: 10%
		display: block
		color:  $white
		margin: 20px auto
		text-align: center
		padding: 10px 15px
		border-radius: 5px
		text-decoration: none
		border: 1px solid $white
		text-transform: uppercase
		transition: all 0.3s ease 0s
		&:hover
			color: #4bd25c
			border: 1px solid #4bd25c




@media only screen and(max-width:768px)
	.main
		.overlay
			height: 87%
	.content
		img
			max-width: 60%
			max-height: 60%
			margin: 28vh auto 0
		p
			color: $white
			font-size: 1em
			text-align: center
		a
			max-width: 35%
