footer
  aside#contact
    .container
      .row
        .col-lg-12
          h1.section-heading Contato
          br
          h1 Quer patrocinar? Dúvidas? Sugestões?
          a(href="mailto:contato@frontinfortaleza.com.br") contato@frontinfortaleza.com.br
          br
          br
          p Acompanhe o Frontin Fortaleza 2016 através das redes sociais:
          span.social-icons
            a(href="https://www.facebook.com/FrontInFortaleza"): i.fa.fa-facebook(aria-hidden='true')
            a(href="https://twitter.com/FrontInFortal"): i.fa.fa-twitter(aria-hidden='true')

  
  .code-of-conduct
    p: a(href="https://github.com/confcodeofconduct/confcodeofconduct.com/blob/master/index-pt-br.html") Confira o código de conduta do evento
