// Navigation
nav.navbar.navbar-default.navbar-fixed-top
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#page-top') Google I/O Extended

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.hidden
          a(href='#page-top')
        li.page-scroll
          a(href='#page-top') Inicio
        li.page-scroll
          a(href='#schedule') Agenda
        li.page-scroll
          a(href='#localization') Localização
        li.page-scroll
          a(href='#organization') Organização
