// Navigation
nav#mainNav.navbar.navbar-default.navbar-custom.navbar-fixed-top
  .container
    // Brand and toggle get grouped for better mobile display
    .navbar-header.page-scroll
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-nav-collapse')
        span.sr-only Toggle navigation
        i.fa.fa-bars
    // Collect the nav links, forms, and other content for toggling
    #main-nav-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.hidden
          a(href='#page-top')
        li
          a.page-scroll(href='#page-top') Inicio
        li
          a.page-scroll(href='#about') Sobre
        //- li
          a.page-scroll(href='#speakers') Palestrantes
        //- li
          a.page-scroll(href='#schedule') Agenda
        li
          a.page-scroll(href='#localization') Localização
        li
          a.page-scroll(href='#team') Organização
